<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ShoesShopProject</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShoesShopProject.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/png" href="~/icon.png" sizes="32x32">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body id="body">
<header style="position: sticky; top: 0px; z-index: 10;">
      <div class="navigation">
        <ul class="tabs main-menu-top">
                <li><a href="/Home" id="main-page">На головну</a></li>
                <li><a href="/Shoes/Find?gender=m" id="male">Чоловікам</a></li>
                <li><a href="/Shoes/Find?gender=f" id="female">Жінкам</a></li>
            <li><a asp-action="Find" asp-controller="Shoes" id="search">Пошук по категоріям</a></li>
                @if (User.IsInRole("Admin"))
                {
                    <li><a asp-action="Index" asp-controller="Goods" id="admin-panel">Адмін панель</a></li>
                    <li><a asp-action="Index" asp-controller="Orders" id="orders">Замовлення</a></li>
                }
        </ul>
        
        <div class="nav-buttons">
                <a href="@(User.Identity.IsAuthenticated ? "/Identity/Account/Manage" : "/Identity/Account/Login")" class="profile-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
            <g id="icon-profile" class="img">
                <rect width="26" height="26"/>
                <circle cx="13" cy="8" r="5.25" stroke="#1A1A1A" stroke-width="1.5"/>
                <path d="M22.3205 24C22.0009 24 21.7172 23.8 21.5911 23.5063C20.0496 19.9143 16.723 17.5 12.9991 17.5C9.27515 17.5 5.94856 19.9143 4.40705 23.5063C4.28099 23.8 3.99729 24 3.67765 24C3.15788 24 2.79 23.4923 2.99102 23.013C4.72646 18.875 8.55501 16 12.9991 16C17.4432 16 21.2717 18.875 23.0071 23.013C23.2082 23.4923 22.8403 24 22.3205 24Z" fill="#1A1A1A"/>
            </g>
        </svg></a>
                <a href="/Account/Wishlist" class="wishlist-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
              <g id="like" class="img">
                  <rect width="26" height="26"/>
                  <path d="M12.4537 5.72117L13 6.30206L13.5463 5.72117C16.5998 2.47456 21.1892 3.53342 22.7197 6.75041C23.4797 8.34784 23.5402 10.5863 22.1165 13.2725C20.7232 15.9011 17.9126 18.939 13 22.1098C8.08737 18.939 5.27679 15.9011 3.88353 13.2725C2.45979 10.5863 2.52026 8.34784 3.28026 6.75041C4.8108 3.53342 9.40019 2.47456 12.4537 5.72117Z" stroke="#1A1A1A" stroke-width="1.5"/>
              </g>
          </svg></a>
            <a href="/Account/Order" class="order-button">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
              <g id="icon-cart" class="img">
                  <rect width="26" height="26"/>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M13.0006 2C15.762 2 18.0006 4.23858 18.0006 7H20.1113C20.6184 7 21.0452 7.37955 21.1045 7.88316L22.8692 22.8832C22.9391 23.4777 22.4746 24 21.876 24H4.12513C3.52654 24 3.06204 23.4777 3.13198 22.8832L4.89669 7.88316C4.95594 7.37955 5.38275 7 5.88984 7H8.00059C8.00059 4.23858 10.2392 2 13.0006 2ZM9.50059 7H16.5006C16.5006 5.067 14.9336 3.5 13.0006 3.5C11.0676 3.5 9.50059 5.067 9.50059 7ZM4.6874 22.5L6.33446 8.5H19.6667L21.3138 22.5H4.6874Z" fill="#1A1A1A"/>
              </g>
          </svg></a>
        </div>

    </div>
    <hr>
    </header>
    <div class="container" style="margin-top: 20px;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - ShoesShopProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
