@model List<ShoesShopProject.ViewModels.GoodCardViewModel>
@{
    ViewData["Title"] = "Вішліст";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 style="text-align:center;margin: 0 auto;">
    Ваш вішліст
</h1>
<br />
@if(Model == null || Model.Count <= 0)
{
    <h2>На жаль у вас поки немає улюблених товарів ):</h2>
}
else
{
    <div class="text-center">

        <div style="display:flex;justify-content:center;flex-wrap: wrap;width: 100%;">

            @foreach (var item in Model)
            {
                @await Component.InvokeAsync("GoodCard", item)
            }

        </div>
    </div>
}