
.dropdown{
    display: inline-block;
}

.dropdown-scrolable {
    max-height: 200px;
    overflow-y: scroll;
    margin-left: 10px;
}

.filter-submit-button {
    --color: #00A97F;
    padding: 0.8em 1.7em;
    padding: 5px 60px;
    margin: 10px 10px 0 10px;
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .5s;
    font-weight: 400;
    font-size: 17px;
    border: 1px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color);
    z-index: 1;
}

    .filter-submit-button::before, .filter-submit-button::after {
        content: '';
        display: block;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%);
        position: absolute;
        border-radius: 50%;
        z-index: -1;
        background-color: var(--color);
        transition: 1s ease;
    }

    .filter-submit-button::before {
        top: -1em;
        left: -1em;
    }

    .filter-submit-button::after {
        left: calc(100% + 1em);
        top: calc(100% + 1em);
    }

    .filter-submit-button:hover::before, .filter-submit-button:hover::after {
        height: 410px;
        width: 410px;
    }

    .filter-submit-button:hover {
        color: rgb(10, 25, 30);
    }

    .filter-submit-button:active {
        filter: brightness(.8);
    }
.filtration {
    margin-bottom:50px;
    margin-top:10px;
    margin-left:29px;
}
.dropdown>button{

}
