@model IEnumerable<ShoesShopProject.ViewModels.GoodCardViewModel>
@{
	ViewData["Title"] = "Home Page";
}



		  <div class="text-center">

			<div id="appender" style="display:flex;justify-content:center;flex-wrap: wrap;width: 100%;">


			  <div class="brands">
			<a href="/Shoes/Find?brands=Nike">
				  <div class="brand-logo">
					  <img src="\images\nike.jpg" alt="Логотип">
				  </div>
			</a>
			<a href="/Shoes/Find?brands=New%20Balance">
				  <div class="brand-logo">
					<img src="\images\newbalance.jpg" alt="Логотип">
				</div>
				</a>
			<a href="/Shoes/Find?brands=Puma">
				  <div class="brand-logo">
					<img src="\images\puma.jpg" alt="Логотип">
				</div>
				</a>
			<a href="/Shoes/Find?brands=Jordan">
			  <div class="brand-logo">
				<img src="\images\jordan.jpg" alt="Логотип">
			</div>
			</a>
			<a href="/Shoes/Find?brands=Adidas">
			<div class="brand-logo">
			  <img src="\images\adidas2.png" alt="Логотип">
		  </div>
		  </a>
			<a href="/Shoes/Find?brands=Timberland">
		  <div class="brand-logo">
			<img src="\images\timberland.jpg" alt="Логотип" style="margin-left: 1px;">
		</div>
		</a>
		</div>
		<div class="baner-border" >

				<div>
				<a href="/Shoes/Find?isSaleOnly=true">
				<img src="\images\six.jpg" width="600" height="350" >
				</a>
				</div>
				<div class="right-area">
				<div class="right-area-in">
				<div class="heading" style="color: red;">
				Хіти розпродажу! </div>
				<div class="description" style="color: #000000">
				  Зі знижками. У передчутті сезону... </div>
					<a href="/Shoes/Find?isSaleOnly=true">

				  <button class="more-btn"> Переглянути більше
				  </button>

				</a>
				</div>
				</div>
				</div>
				<hr style="width:100%; margin-bottom:20px;" class="phone-display">

		@foreach (var item in Model)
		{
			@await Component.InvokeAsync("GoodCard", item)
		}
			
		
		</div>
		</div>
		<script src="~/js/scroll.js" asp-append-version="true"></script>
		<script src="~/js/Home.Index.js" asp-append-version="true"></script>


				




